= form_for @group do |f|

  -if @group.errors.any?
    -# 『f.』では取り出せない。
    .chat-group-form__errors
      %h2
        #{@group.errors.full_messages.count}件のエラーが発生しました。
      %ul
        - @group.errors.full_messages.each do |e_messa|
          -# 『@group.errors.full_messages』自体が配列なので、そこから展開させる。
          %li
            ※ #{e_messa}

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :xxx, "グループ名", class: "chat-group-form__label"
      -# 『@group』でform_forを生成しているので、for属性の値はそのモデルの名前が先頭に付く。
      -# %label.chat-group-form__label{for: "chat_group_name"} グループ名：旧記述
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名入力してください", class: "chat-group-form__input", id: "group_xxx"
      -# id属性を設定していない場合、id属性値はname属性値の前にそのモデルの名前が付いたものが自動的に設定される。
      -# id属性を設定している場合、その値とfor属性値が一致する場合、連動可能。
      -# name属性値は、『モデル名[値]』の形となる。

      -# %input#chat_group_name.chat-group-form__input{name: "chat_group[name]", placeholder: "グループ名を入力してください", type: "text"}：旧記述

  .chat-group-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
    /
      <div class='chat-group-form__field--left'>
      <label class="chat-group-form__label" for="chat_group_チャットメンバーを追加">チャットメンバーを追加</label>
      </div>
      <div class='chat-group-form__field--right'>
      <div class='chat-group-form__search clearfix'>
      <input class='chat-group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
      </div>
      <div id='user-search-result'></div>
      </div>

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー
    .chat-group-form__field--right
      = f.collection_check_boxes :user_ids, User.all, :id, :name, include_hidden: false do |b|
        = b.label { b.check_box + b.text }
        -# 『, include~』以降を削除することで、上1行は省略可能
        -# 『collection_check_boxes』は標準で4~6の引数を必要とする。
        -# 引数の順番(プロパティ名, オブジェクトの配列, value属性の項目, テキストの項目 [, オプション])
        -# 第1引数はC側で受け取るパラメータ名？（name属性？）
        -# 『User.all』を『@user』にすることでC側から受けることも可能。（配列展開）
        -# 第3引数はDB渡す値について（この場合、中間にuser_idを保存させる意味）
        -# 第4引数はhtmlでのテキスト文章（この場合、idに対応するユーザー名の意味）

      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
      /
        <div id='chat-group-users'>
        <div class='chat-group-user clearfix' id='chat-group-user-22'>
        <input name='chat_group[user_ids][]' type='hidden' value='22'>
        <p class='chat-group-user__name'>seo_kyohei</p>
        </div>
        </div>

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn"
      -# %input.chat-group-form__action-btn{"data-disable-with" => "Save", name: "commit", type: "submit", value: "Save"}：旧記述
      = link_to "Back", :back, class: "chat-group-form__page-header-btn"
