.chat
  -# 画面右上部分
  .header
    .left-header
      .left-header__title
        =@group.name
      %ul.left-header__members
        Member：
        - @group.users.each do |f|
          %li.left-header__member
            = f.name
    .right-header
      = link_to "Edit", edit_group_path(@group.id), class: "right-header__button"

  -# 画面右部分
  .messages
    -# = render @messages

    -# = render partial: "shared/message", collection: @messages
    = render partial: "shared/chat-message", collection: @messages, as: "message"
    -# 特定のビューを複数回使い回す場合、eachメソッドよりも、renderの方が動作が高速になる。
    -# 部分テンプレ名とインスタンス変数名が単・複数形を除いて一致しない場合、『as:』が必要。

  -# 画面右下部分
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "form__message", placeholder: "type a message"
      .form__mask
        = f.label :image, class: "form__mask__image" do
          = fa_icon "picture-o", class: "icon"
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "form__submit"
