.side-bar
  -# 画面左上部分
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to new_group_path do
          = fa_icon "edit", class: "icon"
      %li.list
        = link_to edit_user_path(current_user) do
          -# <a href="">~~</a>で記述の際、『~~』の部分が『fa_icon』にあたる書き方
          = fa_icon "cog", class: "icon"

  -# 画面左部分
  .groups
    - current_user.groups.each do |group|
      .group
        / ：未実装　= link_to group_messages_path(group) do
        .group__name
          = group.name
        .group__message
          / ：未実装　= group.show_last_message
          group_message
